*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
  	-webkit-touch-callout: none;
  	-webkit-user-select: none;
}
input{
	outline: none;
}
html,body{
	background-color: #f4f8fd;
	height: 100%;
	width: 100%;
	font-family: PingFang;
}
em{
	font-style: normal;
}
a {
    text-decoraction: none;
    background: none;
}
input{
	 -webkit-appearance: none;
}
input::-webkit-input-placeholder{
	color: #d6d6d6;
	font-size: 30px;
}
.router-link-active {
    text-decoration: none;
    background: none;
}
.displayNone{
	display: none;
}
.displayShow{
	display: show;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
#app{
	height: 100%;
}
.mint-header{
	height: 82px;
	line-height: 82px;
	background: none;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
	h1{
		font-size: 36px;
		font-family: PingFang;
	}
	i{
		font-size: 36px;
	}
	.mint-header-button{
		font-size: 36px;
		margin: 0 32px 0 0;
		display: block;
		button{
			display: block;
		}
	}
	.is-left{
		height: 82px;
		line-height: 82px;
		div{
			height: 100%;
			button{
				height: 100%;
				display: block;
			}	
		}
	}
}
.mint-toast{
	.mint-toast-text{
		font-size: 30px;
	}
}
.mint-popup-bottom{
	.picker-toolbar{
		height: 80px;
		.mint-datetime-action{
			line-height: 80px;	
			font-size: 30px;	
		}
	}
	.picker-item{
		font-size: 30px;
	}
	.picker-slot.picker-slot-divider{
		font-size: 30px;
	}
}
.mint-loadmore-content{
	height: 100%;
}