*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
  	-webkit-touch-callout: none;
  	-webkit-user-select: none;
}
input{
	outline: none;
}
html,body{
	background-color: #f4f8fd;
	height: 100%;
	width: 100%;
}
em{
	font-style: normal;
}
#app{
	height: 100%;
}
.mint-header{
	height: 82px;
	line-height: 82px;
	background: none;
	h1{
		font-size: 36px;
	}
	i{
		font-size: 36px;
	}
}