*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
  	-webkit-touch-callout: none;
  	-webkit-user-select: none;
}
input{
	outline: none;
}
html,body{
	background-color: #f4f8fd;
	height: 100%;
	width: 100%;
	font-family: PingFang;
}
em{
	font-style: normal;
}
a {
    text-decoraction: none;
    background: none;
}
input{
	 -webkit-appearance: none;
}
input::-webkit-input-placeholder{
	color: #d6d6d6;
	font-size: 30px;
}
.router-link-active {
    text-decoration: none;
    background: none;
}
.displayNone{
	display: none;
}
.displayShow{
	display: show;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
#app{
	height: 100%;
}
.mint-header{
	height: 82px;
	line-height: 82px;
	background: none;
	h1{
		font-size: 36px;
		font-family: PingFang;
	}
	i{
		font-size: 36px;
	}
	.mint-header-button{
		font-size: 36px;
		margin: 0 30px 0 0;
		button{
			display: block;
		}
	}
}
.toast{
	.mint-toast-text{
		font-size: 30px;
	}
}