@font-face{  
  font-family: PingFang;  
  src: url('/static/fonts/PingFang Bold.ttf') format('truetype');  
} 
@font-face{  
  font-family: QuartzRegular;  
  src: url('/static/fonts/QuartzRegular.ttf') format('truetype');  
} 